torch
torchvision
transformers
addict
yapf
timm
numpy
opencv-python
supervision>=0.22.0
pycocotools
Pillow
imageio
einops
scikit-image
kornia
dominate
lpips
Ninja
ftfy
regex
matplotlib
imutils
gradio>=5
omegaconf
pytorch_lightning
webdataset